body {
	background-color: #F5F5F5;
	font-family: "Arial", sans-serif;
}

#container {
	width: 700px;
	margin: auto;
	background-color: white;
	padding: 20px;
}

div.post {
	border-color: gray;
	border-width: 2px;
	border-style: solid;
	margin-bottom: 10px;
	padding: 10px;
}